.poll-col {
    display: inline;
    height: 220px;
    margin-top:  2%;
    margin-bottom: 2%;
}
.histogram {
    height: 220px;
    
    border: 1px solid black;
}


.poll {
    margin-bottom: 2%;
}

.btn-warning, .btn-success {
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
}
.btn-warning {
    margin-left: 14%;
}
canvas {
    margin: 5px;
}

#thank{
   text-align: center;
   margin-bottom: 2%;
   margin-top: 2%;
}
.app-choice {
    width: 100%;
}
 progress-bar {
    display: inline;
    margin-left:3%;
}